.logo h3 {
  text-transform: uppercase;
  margin: 0;
  padding: 12px;
  font-size: 23px;
  letter-spacing: 2px;
  border: 1px solid;
  display: inline-block;
  border-radius: 2px;
  color: #2978b5;
}

.navmenu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: right;
  padding: 13px 0;
}

.navmenu li {
  display: inline-block;
  margin-left: 20px;
}

.navmenu li a {
  font-size: 18px;
  text-decoration: none;
  text-transform: capitalize;
}

.header-top {
  padding: 20px 0;
  position: relative;
  width: 100%;
}
.header-top:after{
  position:absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: #2978b5;
  content: "";
opacity: .2;
}